body {
    font-family: Arial, sans-serif;
    background-color: #ffeebc;
    margin: 0;
    padding: 0;
    display: auto;
    Text-align: center;
    
    /* Usando Flexbox para criar as três colunas */
 }
 
 /* Estilos para as colunas */
 .column {
    flex: 1; /* As colunas ocuparão o mesmo espaço */
    padding: 20px;
 }
 
 /* Estilos para os títulos */
 h1, h2 {
    color: #333;
 }
 
 /* Estilos para os links */
 a {
    color: #d900b1;
    text-decoration: none;
 }
 
 /* Estilos para a lista de compras */
 ul {
    list-style: none;
    padding: 0;
 }
 
 /* Estilos para os itens da lista */
 li {
    margin-bottom: 10px;
 }
 
 /* Estilos para o formulário */
 form {
    margin-bottom: 20px;
 }
 
 /* Estilos para os campos de entrada */
 input[type="text"], input[type="submit"] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 100px;
    border: none;
 }
 
 input[type="text"] {
    border: 1px solid #ccc;
 }
 
 /* Estilos para o botão de envio */
 input[type="submit"] {
    background-color:black;
    color: #e2e3e7;
    cursor: pointer;
 }
 
 /* Estilos para o rodapé */
 footer {
    text-align: center;
    color: #888;
    margin-top: 30px;
 }
 
 /* Estilos para o checkbox */
 input[type="checkbox"] {
    margin-right: 5px;
 }